<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Serving Static File</title>
  <link href="../css/style.css" rel="stylesheet" >
</head>
<body>
  <div class="card">
    <h2>Welcome to DEMO API</h2>
    <div></div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia inventore unde culpa possimus fugiat, ullam neque aliquid facere et qui accusamus officia deserunt accusantium quaerat vero corrupti necessitatibus quod sed?</p>
  </div>
</body>
</html>